/*CSS for Delete log buttons */
.delete-logs-btn {
  background: #dc3545;
  color: #fff;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-logs-btn:hover {
  opacity: 0.9;
}

/*Body styling*/
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #333;
}

/*Common styles for forms, control panel, logs, and ticket status containers*/
.form, .control-panel, .log-display, .ticket-status {
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/*Styles for form inputs */
.form input {
  display: block;
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form label {
  display: block; 
  text-align: left; 
  margin-bottom: 5px; 
  font-weight: bold;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.start-btn {
  background: #28a745;
  color: #fff;
}

.stop-btn {
  background: #dc3545;
  color: #fff;
}

.log-display ul {
  list-style: none;
  padding: 0;
}

.log-display li {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

/* Styles for error messages */
.error {
  color: #dc3545;
  font-size: 0.9rem;
  margin-bottom: 10px;
}
